#article-page {

    display: grid;
    grid-template-columns: (3, 1fr);
    grid-template-rows: minmax(0, 0.5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas: 
    "article article article"
    "article article article"
    "article article article"
    "article article article"
    "comments comments comments"
    "post post post";
    min-height: 100vh;    
}

/*---===CONTAINERS===---*/

#article-page {
    background-color: #444444;
  }

#article-container {
    grid-area: article;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgb(236, 194, 7);
    margin: 2.5%;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.589);
}

#comments-container {
    grid-area: comments;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    list-style: none;
    background-color: #464545;
    overflow-y: auto;
    max-height: 45vh;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.589);
}

/*---===CONTENT===---*/



#article-title {
    font-size: 20px;
    font-weight: bolder;
}

#article-body {
    margin: 10px;
    font-size: 25px;
    width: 40vw;
}

#article-topic {
    font-weight: bolder;
}

#article-author {
    font-weight: bolder;
}

#article-created-at {
    margin-bottom: 2%;
    font-weight: bolder;
}

#article-votes {
    height: 55px;
    font-size: 40px;
}

#article-upvote, #article-downvote {
    background-color: #464545;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder; 
    border: 3px solid black;
    cursor: pointer;
    color: rgb(236, 194, 7);
}

#article-upvote {
    margin-top: 30px;
}

.single-comment {
    padding-top: 10px;
}

#comment-author {
    color: rgb(236, 194, 7);
    font-size: larger;
}

#comment-body {
    font-size: 23px;
    color: aliceblue;
    margin-bottom: 15px;
    margin-top: 15px;
}

#comment-votes {
    display: inline-block;
    margin: 10px;
}

#vote-count {
    background-color: rgb(236, 194, 7);
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    border: 3px solid black;
}

#upvote, #downvote {
    background-color: rgb(236, 194, 7);
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder; 
    border: 3px solid black;
}

#delete-container {
    display: inline-flex;
    justify-content: flex-end;
    width: 90%;
}

#delete-button {
    width: 40px;
        height: 40px;
        background-color: #464545;
        border: solid 2px rgb(190, 48, 48);
        border-radius: 10px;
        color: rgb(226, 65, 65);
        cursor: pointer;
}

#create-comment-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
    margin-top: 0;
}

#create-comment {
    margin: 10px;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 500px;
    height: 80px;
    grid-area: post;
}

#comment-submit {
    width: 100px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    grid-area: post;
}

#posted-ternary {
    text-align: center;
    margin-left: auto;
    display: inline-block;
    border: 1px solid black;
}

.yellow-button {
    background-color: rgb(236, 194, 7);
}

hr {
    border: 1px dashed black;
}



/* Mobile Styles */
@media only screen and (max-width: 700px) {
    #article-page {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "article"
            "comments";
        padding: 0.5rem;
    }

    #article-container {
        width: 90%;
        margin: 0;
        /* padding: 1rem; */
        padding-right: 10px;
    }

    #comments-container {
        margin: 1rem 0;
        padding: 1rem;
        max-height: none;
        margin-right: 15px;
    }

    #article-img {
        width: 100%;
    }

    #article-title {
        font-size: 13px;
        text-align: center;
    }

    #article-body {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    #article-created-at {
        text-align: center;
        font-size: 12px;
    }

    #comment-body {
        font-size: 16px;
    }

    #create-comment {
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
        border-radius: 20px;
        border: none;
        width: 50%;
    }
    #delete-container {
        display: inline-flex;
        justify-content: flex-end;
        width: 60%;
        text-align: center;
    }
    
    #delete-button {
        width: 30px;
        height: 30px;
        background-color: #464545;
        border: solid 1px rgb(190, 48, 48);
        border-radius: 10px;
        color: rgb(226, 65, 65);
        cursor: pointer;
    }
}

