* {
  margin: 0;
}

#homepage {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-template-rows: minmax(0, 0.5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas: 
  "header header header"
  "articles articles articles"
  "articles articles articles"
  "articles articles articles"
  "articles articles articles";
  height: 100vh;
}
/*----====HEADER AND NAVBAR====----*/
#header-container {
  
  grid-area: header;
  display: flex;
  flex-direction: row;
  height: 2;
  background-color: #303030;
}

#Navbar {
  background-color: #303030;
  align-items: center;
  /* justify-content: end;  */
  display: flex;
  width: 100vw;
  min-height: 10vh;
  max-height: 20vh;
  font-size: 25px;
  padding-top: 10px;
}

#login {
  background-color: rgb(236, 194, 7);
  margin-right: 20px;
  border-radius: 10px;
  color: rgb(48, 48, 48);
}

#home {
  margin-right: auto;
}

#Navbar a {
  padding: 20px;
  padding-right: 30px;
  color: aliceblue;
}

a {
  text-decoration: none;
}
/*----====----*/

#articles-container {
  border: 1px solid black;
  grid-area: articles;
  overflow-y: auto;
  display: flex;
  background-color: #c2c0c0;
  width: 100vw;
  justify-content: center;
}

#articles {
  margin: 20px;
  /* border: 1px solid rgb(167, 167, 167);
  background-color: rgb(199, 83, 83); */
  width: 90vw;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* overflow-y: auto; */
}

.single_article {
  margin: 20px;
  padding: 5px;
  border: solid 1px black;
  width: 20%;
  border-radius: 15px;
  height: 40%;
  background-color: #b1b1b1;
  text-align: center;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.589);
  list-style: none;
}

#list-title {
  font-size: 20px;
  font-weight: bolder;
}

#list-author {
  padding-bottom: 15px;
}

#list-img-container {
  margin: 30px;
  margin-bottom: 10px;
}

#list-img {
  height: 70%;
  width: 90%;
  border-radius: 20px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.589);
}

#list-link {
  font-size: larger;
  color: red;
  border: 1px solid black;
}



