* {
  margin: 0;
}

#homepage {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-template-rows: minmax(0, 0.5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas: 
  "articles articles articles"
  "articles articles articles"
  "articles articles articles"
  "articles articles articles";
  height: 100vh;
  justify-content: center;
  background-color: #444444;
}
/*----====HEADER AND NAVBAR====----*/
#header-container {
  
  grid-area: header;
  display: flex;
  flex-direction: row;
  height: 2;
  background-color: #303030;
}

#Navbar {
  background-color: #303030;
  align-items: center;
  /* justify-content: end;  */
  display: flex;
  width: 100vw;
  min-height: 10vh;
  max-height: 20vh;
  font-size: 25px;
  padding-top: 10px;
}

#login, #username {
  background-color: rgb(236, 194, 7);
  margin-right: 20px;
  border-radius: 10px;
}


#home {
  margin-right: auto;
}

#Navbar a, #username, #sign-out {
  padding: 20px;
  padding-right: 30px;
  color: aliceblue;
}

#login-text, #username {
  color: rgb(48, 48, 48);
}

a, #sign-out{
  text-decoration: none;
}

#sign-out {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font: inherit;
}
/*----====----*/

#articles-container {
  /* border: 1px solid black; */
  grid-area: articles;
  overflow-y: auto;
  display: flex;
  background-color: #444444;
  width: 95vw;
  height: 80vh;
  justify-content: center;
  border-radius: 25px;
  margin-top: 2.5%;
}

#articles {
  margin: 20px;
  /* border: 1px solid rgb(167, 167, 167);
  background-color: rgb(199, 83, 83); */
  width: 90vw;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* overflow-y: auto; */
}

.single_article {
  margin: 20px;
  padding: 5px;
  border: solid 1px black;
  width: 20%;
  border-radius: 15px;
  min-height: 50%;
  background-color: rgb(236, 194, 7);
  text-align: center;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.589);
  list-style: none;
}

#list-title {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  color: rgb(48, 48, 48);;
}

#list-author {
  padding-bottom: 15px;
}

#list-img-container {
  margin: 30px;
  margin-bottom: 10px;
}

#list-img {
  height: 70%;
  width: 90%;
  border-radius: 20px;
  /* box-shadow: 4px 4px rgba(0, 0, 0, 0.589); */
}

#list-link {
  margin-top: auto;
  /* border: 1px solid black; */
}

#list-link-text {
  font-size: 1em;
  margin-top: auto;
  padding: 5px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-decoration: none;
  font-weight: bolder;
  background-color:rgb(48, 48, 48);
}

#loading {
  margin-top: 100px;
  font-size: 40px;
}

/* Mobile Styles */
@media only screen and (max-width: 700px) {
  #homepage {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
          "header"
          "articles";
      padding: 0.5rem;
      height: auto;
  }

  #articles-container {
      width: 90%;
      margin: 0;
      padding: 1rem;
  }

  #articles {
      width: 90%;
      margin: 1rem 0;
      height: 40%;
  }

  .single_article {
      width: 80%;
      margin: 1rem 0;
      height: 10px;
  }

  #list-img {
      width: 100%;
      height: auto;
  }

  #list-title {
      font-size: 18px;
  }

  #list-link-text {
      font-size: 1.2em;
      padding: 0.5rem;
  }

  #Navbar {
    background-color: #303030;
    align-items: center;
    /* justify-content: end;  */
    display: flex;
    width: 100vw;
    min-height: 10vh;
    max-height: 20vh;
    font-size: 18px;
    padding-top: 10px;
  }

  #Navbar a, #username, #sign-out {
    padding: 15px;
    padding-right: 30px;
    color: aliceblue;
  }

  #home {
    margin-right: auto;
  }

  #login-text, #username {
    color: rgb(48, 48, 48);
  }
}





